

/*
Author: Bootstrapthemes
Author URI: http://bootstrapthemes.co
*/

/* Portrait tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
    body {
        font-size: 1rem;
    }
    #equipas .body .division h3 {
        font-size: 1.575rem;
    }


}

/* Portrait tablets and small desktops */
@media  (min-width:769px) and (max-width: 991px) {
    html {
        font-size: 90%;
    }
    #equipas .body .division h3 {
        font-size: 1.175rem;
    }

}
/* Landscape phones and portrait tablets */
@media (min-width:480px) and (max-width: 768px) {
    html {
        font-size: 80%;
    }
    #equipas .body .division {
        margin-bottom: 30px;
    }
    #equipas .body .division p {
        max-width: 50%;
        margin: 0 auto;
    }

    #clients .heading {
        text-align: center;
        margin: 0 auto;
        max-width: 60%;
    }
    #clients .heading p {
        font-size: 0.875rem;
        font-family: 'ralewaylight';
        max-width: 70%;
        margin: 0 auto;
    }

    #clients .partners {
        text-align: center;
        margin-top:20px;
    }
}



/* Landscape phones and smaller */
@media (min-width:320px) and (max-width: 479px) {
    html {
        font-size: 65%;
    }
    #equipas .body .division {
        margin-bottom: 30px;
    }
    #equipas .body .division p {
        max-width: 50%;
        margin: 0 auto;
    }
    #clients .heading {
        text-align: center;
        margin: 0 auto;
        max-width: 60%;
    }
    #clients .heading p {
        font-size: 0.875rem;
        font-family: 'ralewaylight';
        max-width: 70%;
        margin: 0 auto;
    }

    #clients .partners {
        text-align: center;
        margin-top:20px;
    }
	header .slider h3 {
        font-size: 2.5rem;
	}
}



@media (max-width: 320px) {

    html {
        font-size: 60.5%;
    }
    #equipas .body .division {
        margin-bottom: 30px;
    }
    #equipas .body .division p {
        max-width: 50%;
        margin: 0 auto;
    }

    #clients .heading {
        text-align: center;
        margin: 0 auto;
        max-width: 60%;
    }
    #clients .heading p {
        font-size: 0.875rem;
        font-family: 'ralewaylight';
        max-width: 70%;
        margin: 0 auto;
    }

    #clients .partners {
        text-align: center;
        margin-top:20px;
    }
}

