

/*
Author: Bootstrapthemes
Author URI: http://bootstrapthemes.co
*/

/* Portrait tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
    body {
        font-size: 1rem;
    }
       
    .form-control {
        width: 5.125rem;
        padding: 5px;
    }
    .feature .main_feature_content_area .main_feature_content .single_feature h3 {
        font-size: 1.575rem;
    }


}

/* Portrait tablets and small desktops */
@media  (min-width:769px) and (max-width: 991px) {
    html {
        font-size: 90%;
    }
    .form-control {
        width: 4.125rem;
        height: 56px;
        font-size: 0.875rem;
        padding: 2px;
    }
    .feature .main_feature_content_area .main_feature_content .single_feature h3 {
        font-size: 1.175rem;
    }

}
/* Landscape phones and portrait tablets */
@media (min-width:480px) and (max-width: 768px) {
    html {
        font-size: 80%;
    }
    .feature .main_feature_content_area .main_feature_content .single_feature {
        margin-bottom: 30px;
    }
    .feature .main_feature_content_area .main_feature_content .single_feature p {
        max-width: 50%;
        margin: 0 auto;
    }

    .clients .main_clients_area .main_clients_top_content .client_left_content {
        text-align: center;
        margin: 0 auto;
        max-width: 60%;
    }
    .clients .main_clients_area .main_clients_top_content .client_left_content p {
        font-size: 0.875rem;
        font-family: 'ralewaylight';
        max-width: 70%;
        margin: 0 auto;
    }

    .clients .main_clients_area .main_clients_top_content .single_right_client{
        text-align: center;
        margin-top:20px;
    }
    
}



/* Landscape phones and smaller */
@media (min-width:320px) and (max-width: 479px) {
    html {
        font-size: 65%;
    }
    .navbar-brand>img {
        max-width: 70%;
    }
    .feature .main_feature_content_area .main_feature_content .single_feature {
        margin-bottom: 30px;
    }
    .feature .main_feature_content_area .main_feature_content .single_feature p {
        max-width: 50%;
        margin: 0 auto;
    }
    .clients .main_clients_area .main_clients_top_content .client_left_content {
        text-align: center;
        margin: 0 auto;
        max-width: 60%;
    }
    .clients .main_clients_area .main_clients_top_content .client_left_content p {
        font-size: 0.875rem;
        font-family: 'ralewaylight';
        max-width: 70%;
        margin: 0 auto;
    }

    .clients .main_clients_area .main_clients_top_content .single_right_client{
        text-align: center;
        margin-top:20px;
    }
	.slider .single_slider h3 {
        font-size: 2.5rem;
	}
}



@media (max-width: 320px) {

    html {
        font-size: 60.5%;
    }
    .navbar-brand>img {
        max-width: 50%;
    }
    .feature .main_feature_content_area .main_feature_content .single_feature {
        margin-bottom: 30px;
    }
    .feature .main_feature_content_area .main_feature_content .single_feature p {
        max-width: 50%;
        margin: 0 auto;
    }

    .clients .main_clients_area .main_clients_top_content .client_left_content {
        text-align: center;
        margin: 0 auto;
        max-width: 60%;
    }
    .clients .main_clients_area .main_clients_top_content .client_left_content p {
        font-size: 0.875rem;
        font-family: 'ralewaylight';
        max-width: 70%;
        margin: 0 auto;
    }

    .clients .main_clients_area .main_clients_top_content .single_right_client{
        text-align: center;
        margin-top:20px;
    }
}

