/*
Author: XpeedStudio
Author URI: http://themeforest.net/user/XpeedStudio/portfolio
*/
/* ==========================================================================
   Author's custom styles
   ========================================================================== */
html,
body {
    background-color: transparent;
    font-size: 15px;
    color: #565656;
    width: 100%;
    padding: 0;
    /*margin:0;*/
    margin-left: 0;
    margin-right: -10px;
    font-family: 'roboto', sans-serif;
    font-weight: 300;
    left: 0;
    right: 0;
}

/*==========================================
PRE LOADER
==========================================*/
.preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fefefe;
    z-index: 99999;
    height: 100%;
    width: 100%;
    overflow: hidden !important;
}

.loaded {
    width: 200px;
    height: 100px;
    position: absolute;
    left: 45%;
    top: 45%;
    /*background-image: url(../images/loading.gif);*/
    background-image: url(../images/logo_BEST.png);
    background-repeat: no-repeat;
    background-position: center;
    -moz-background-size: cover;
    background-size: cover;
    margin: -20px 0 0 -20px;
}



img {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    user-drag: none;
}

a,
a:hover,
a:active,
a:focus {
    text-decoration: none;
    outline: none;
}

a,
button,
a span {
    -webkit-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
}

.btn:focus,
.btn:active {
    outline: inherit;
}

.btn2:focus,
.btn2:active {
    outline: inherit;
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    /*    direction: rtl;*/
}

p {
    margin: 0 0 15px;
}

img {
    max-width: 100%;
}

textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
    outline: none;
}


h1,
h2,
h3 {
    /*font-family: 'Lane', sans-serif;*/
    font-weight: 300;
    margin: 0;
}

h4,
h5 {
    font-weight: 300;
    margin: 0;
    line-height: 2rem;
}

h1 {
    font-size: 3rem;
    line-height: 4rem;
    font-weight: 300;
}

h2 {
    font-size: 2.5rem;
    line-height: 3rem;
    margin-bottom: .9rem;
}

h3 {
    font-weight: 300;
    margin-bottom: .9rem;
    font-size: 2.1rem;
    line-height: 2.5rem;
}

h4 {
    font-size: 1.6rem;
    line-height: 2.2rem;
    margin-bottom: 1.1rem;
}

h5 {
    font-size: 1.3rem;
    margin-bottom: 1rem;
}

h6 {
    font-size: 1rem;
    margin-bottom: .9rem;
}

p {
    line-height: 1.5rem;
    font-size: 1.1rem;
}

p:last-child {
    margin-bottom: 0px;
}

.text {
    color: #333333;
}

/*
Section
*/

.sections {
    margin-top: 50px;
}

.sections.footer {
    padding-bottom: 80px;
}

.heading {
    margin-bottom: 4rem;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    min-height: 750px;
}

/*
Separator
*/
.separator {
    height: 3px;
    width: 70px;
    margin: 30px auto;
    background: #8d8d99;
}

.separator1 {
    height: 1px;
    width: 80%;
    margin: 30px auto;
    background: #8d8d99;
}

/*
Button
*/
.btn-primary.active.focus,
.btn-primary.active:focus,
.btn-primary.active:hover,
.btn-primary:active.focus,
.btn-primary:active:focus,
.btn-primary:active:hover,
.open > .dropdown-toggle.btn-primary.focus,
.open > .dropdown-toggle.btn-primary:focus,
.open > .dropdown-toggle.btn-primary:hover,
.btn-primary.focus,
.btn-primary:focus,
.btn-primary.disabled,
.btn-primary.disabled:hover {
    color: #ffffff;
    background-color: #f56363;
    border-color: #f56363;
}

.btn {
    border: 1px solid #fff;
    display: inline-block;
    min-width: 160px;
    padding: .9em;
    height: 57px;
    text-align: center;
    color: #fff;
    font-style: normal;
    letter-spacing: 1px;
    margin: 0;
    font-size: 18px;
    font-weight: 300;
    border-radius: 0;
    margin-top: 30px;
}

.btn:hover {
    background-color: white;
    color: black;
    text-decoration: none;
    border: 1px solid #fff;
}

.btn2 {
     border: 1px solid black;
     display: inline-block;
     min-width: 160px;
     padding: .9em;
     height: 57px;
     text-align: center;
     color: black;
     font-style: normal;
     letter-spacing: 1px;
     margin: 0;
     font-size: 18px;
     font-weight: 300;
     border-radius: 0;
     margin-top: 30px;
     cursor: pointer;
 }

.btn2:hover {
    background-color: rgb(53,53,53);
    color: #ffe13e;
    text-decoration: none;
    border: 1px solid black;
}

.btn-primary {
    color: #fff;
    background-color: rgb(250, 205, 50);
    border-color: #fff;
    transition: .6s;
}

h1 span {
    color: #f56363;
    font-weight: 400;
}

/* navbar section */
.menu-scroll {
    padding-top: 0px;
    padding-bottom: 0px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 300;
    box-shadow: 0 6px 6px rgba(0, 0, 0, .55);
    -webkit-box-shadow: 0 6px 6px rgba(0, 0, 0, .55);
    background-color: black;
}

.main_menu_bg {
    margin-top: 0px;
    background-color:black;
    /*height: 17%;*/
}

.main_menu_bg .navbar-default {
    background-color: black;
    border-color: black;
    /*transition:.6s;*/
    /*margin: 10px auto;*/
}

.navbar-default .navbar-nav > li > a {
    color: white;
}

.navbar-default .navbar-nav > li > a:hover {
    color: rgb(250, 205, 50);
}

.navbar-default .navbar-nav > li > a:focus {
    color: rgb(250, 205, 50);
}

.main_menu_bg .navbar {
    margin-bottom: 10px;
}

.main_menu_bg .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
    text-transform: uppercase;
    font-size: 0.875rem;
    font-family: 'ralewaysemibold';
}

.navbar-brand > img {
    max-width: 11%;
}

.navbar-brand {
    padding: 0px 0px;
}

/*call us*/
.text-center {
    text-align: center !important;
}

/* Home Section */
.home {
    /*background: url(../images/homebg.jpg) no-repeat center left;*/
    background-image: url(../images/homebg.jpg);
    background-size: cover;
    position: relative;
    /*background-image: url("../img/salmonfarm.jpg");*/
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100%;
}

.slider .single_slider h3 {
    color: #fff;
    font-size: 3rem;
    font-family: 'sanchezregular';
    margin-bottom: 40px;
}

.slider .single_slider p {
    font-size: 2.5rem;
    color: #fff;
    font-family: 'ralewaylight';
    margin-bottom: 40px;
}

.main_slider_area {
    padding: 250px 0px;
    text-align: center;
}

/*our features section*/
.feature {
    background: #fbf8f1;
}

.feature_overlay {
    padding: 90px 0px 100px 0px;
    background-color: #fdfdff;
}

.feature .main_feature_content_area .heading_title {
    margin-bottom: 80px;
}

.feature .main_feature_content_area .heading_title h2 {
    font-family: 'ralewaybold';
    font-size: 3rem;
    color: rgba(20, 65, 115, 1);
}

.feature .main_feature_content_area .heading_title p {
    font-family: 'ralewaylight';
    font-size: 1.5rem;
    color: rgba(20, 65, 115, 1);
}

.feature .main_feature_content_area .main_feature_content .single_feature .single_feature_img {
    margin-left: 5px;
}

.feature .main_feature_content_area .main_feature_content .single_feature h3 {
    font-weight: bolder;
    color: black;
    font-size: 1.1rem;
}

.feature .main_feature_content_area .main_feature_content .single_feature p {
    font-size: 0.85rem;
    font-family: 'ralewayregular';;
    color: #808080;
}

.feature1 {
    background: #fbf8f1;
    width: 100%;
}

.feature1 .main_feature_content_area1 .heading_title1 {
    margin-bottom: 80px;
}

.feature1 .main_feature_content_area1 .heading_title1 h2 {
    font-family: 'ralewaybold';
    font-size: 3rem;
    color: rgba(20, 65, 115, 1);
}

.feature1 .main_feature_content_area1 .heading_title1 p {
    font-family: 'ralewaylight';
    font-size: 1.5rem;
    color: rgba(20, 65, 115, 1);
}

.feature1 .main_feature_content_area1 .main_feature_content1 .single_feature1 .single_feature_img1 {
    margin-left: 5px;
}

.feature1 .main_feature_content_area1 .main_feature_content1 .single_feature1 h3 {
    font-weight: bolder;
    color: black;
    font-size: 1.1rem;
}


.feature1 .main_feature_content_area1 .main_feature_content1 .single_feature1 p {
    font-size: 1.0rem;
    font-family: 'ralewayregular';
    color: #808080;
    text-align: center;
}

/*clients section*/

.clients {
    background: #fff;
    overflow: hidden;
}

.clients .main_clients_area .main_clients_top_content {
    padding: 80px 0px;
}

.clients .main_clients_area .main_clients_top_content .client_left_content h2 {
    font-size: 2.25rem;
    font-family: 'ralewaybold';
}

.clients .main_clients_area .main_clients_top_content .client_left_content p {
    font-size: 0.875rem;
    font-family: 'ralewaylight';
    max-width: 70%;
}

/*footer*/
.footer {
    overflow: hidden;
    padding: 20px 0px;
    background: white;
}

.footer p a {
    color: rgb(250, 205, 50);
    padding: 0px 10px;
}

.footer p i {
    color: #ff0000;
    padding: 0px 10px;
}

/* scrollup */

.scrollup {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    opacity: .3;
    position: fixed;
    bottom: 20px;
    right: 25px;
    color: #fff;
    cursor: pointer;
    background-color: #000;
    z-index: 1000;
    transition: opacity .5s, background-color .5s;
    -moz-transition: opacity .5s, background-color .5s;
    -webkit-transition: opacity .5s, background-color .5s;
}

.scrollup:hover {
    background: #222;
    opacity: 1;
}

.scrollup i {
    font-size: 13px;
    position: absolute;
    opacity: 1;
    color: #fff;
    left: 50%;
    top: 50%;
    margin-top: -7px;
    margin-left: -6px;
    text-decoration: none;

}

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

.navbar-brand {
    float: left;
    height: 15%;
    margin-top: 0px;
    margin-left: 30px;
}


.fa {
    padding: 15px;
    font-size: 20px;
    /*width: 30px;*/
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
}

.fa-facebook-square {
    /*width:4%;*/
    background: white;
    color: black;
}

.fa-flickr {
    /*width:4%;*/
    background: white;
    color: black;
}

.fa-twitter {
    /*width:4%;*/
    background: white;
    color: black;
}

.fa-google {
    /*width:4%;*/
    background: white;
    color: black;
}

.fa-linkedin-square {
    /*width:4%;*/
    background: white;
    color: black;
}

.fa-instagram {
    /*width:4%;*/
    background: white;
    color: black;
}

.modal {
    padding-top: 100px; /* Location of the box */
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}


/* Removes the default 20px margin and creates some padding space for the indicators and controls */
.carousel {
    margin-bottom: 0;
    padding: 0 0px 0px 0px;
}

/* Reposition the controls slightly */
.carousel-control {
    left: -100px;
}

.carousel-control.right {
    right: -100px;
}

/* Changes the position of the indicators */
.carousel-indicators {
    right: 50%;
    top: auto;
    bottom: 0px;
    margin-right: -19px;
}

/* Changes the colour of the indicators */
.carousel-indicators li {
    background: #0c0c0c;
}

.carousel-indicators .active {
    background: #333333;
}

.tab {
    float: left;
    border: 0;
    background-color: white;
    width: 20%;
    height: 300px;
}

/* Style the buttons inside the tab */
.tab button {
    display: block;
    background-color: inherit;
    color: black;
    padding: 22px 16px;
    width: 100%;
    height: 20%;
    vertical-align: center;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
    font-size: 25px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    color: black;
    background-color: #fff099;
}

/* Create an active/current "tab button" class */
.tab button.active {
    color: black;
    background-color: rgb(250, 205, 50);
}


.texto {
    color: black;
    display: table-cell;
    float: left;
    width: 400px;
    text-align: justify;
    font-size: 14px;
}

.texto1 {
    color: black;
    display: table-cell;
    float: left;
    width: 400px;
    margin-top: -20px;
    margin-left: 0px;
    margin-right: 20px;
    text-align: justify;
    font-size: 14px;
}

.portfolio-modal {
    padding-right: 0px !important; }
.portfolio-modal .modal-dialog {
    margin: 1rem;
    max-width: 100vw; }
.portfolio-modal .modal-content {
    padding: 100px 0;
    text-align: center; }
.portfolio-modal .modal-content h2 {
    font-size: 3em;
    margin-bottom: 15px; }
.portfolio-modal .modal-content p {
    margin-bottom: 30px; }
.portfolio-modal .modal-content p.item-intro {
    font-size: 16px;
    font-style: italic;
    margin: 20px 0 30px;
    font-family: 'Droid Serif', 'Helvetica Neue', Helvetica, Arial, sans-serif; }
.portfolio-modal .modal-content ul.list-inline {
    margin-top: 0;
    margin-bottom: 30px; }
.portfolio-modal .modal-content img {
    margin-bottom: 30px; }
.portfolio-modal .modal-content button {
    cursor: pointer; }
.portfolio-modal .close-modal {
    position: absolute;
    top: 25px;
    right: 25px;
    width: 75px;
    height: 75px;
    cursor: pointer;
    background-color: transparent; }
.portfolio-modal .close-modal:hover {
    opacity: 0.005; }
.portfolio-modal .close-modal .lr {
    /* Safari and Chrome */
    z-index: 1051;
    width: 1px;
    height: 75px;
    margin-left: 35px;
    /* IE 9 */
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    background-color: #1d1d1b; }
.portfolio-modal .close-modal .lr .rl {
    /* Safari and Chrome */
    z-index: 1052;
    width: 1px;
    height: 75px;
    /* IE 9 */
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    background-color: #1d1d1b; 
}

h5 {
    margin: 0px;
    padding: 0px;
}

.social:hover {
    background-color: white;
}

/*
MANAGEMENT
*/

.image_linkedin {
    max-width: 150px;
    min-width: 150px;
    max-height: 150px;
    min-height: 150px;
    /*width: 150px;
    height: 150px;*/
    border-radius: 50%;
}

#portfolio .portfolio-link {
    position: center;
    display: block;
    max-width: 150px;
    margin: auto;
    /*cursor: pointer; */
}
#portfolio .portfolio-link .portfolio-hover {
    position: absolute;
    -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
    transition: all ease 0.5s;
    opacity: 0;
    background: rgb(0, 119, 181);
    max-width: 150px;
    min-width: 150px;
    max-height: 150px;
    min-height: 150px;
    /*width: 150px;
    height: 150px;*/
    border-radius: 50%;
}
#portfolio .portfolio-link .portfolio-hover:hover {
    opacity: 0.7; 
}
#portfolio .portfolio-link .portfolio-hover .portfolio-hover-content {
    font-size: 6em;
    text-align: center;
    margin-top: 30px;
    color: white;
    max-width: 150px;
    min-width: 150px;
    max-height: 150px;
    min-height: 150px;
    /*width: 150px;
    height: 150px;*/
    border-radius: 50%;
}
#portfolio .portfolio-link .portfolio-hover .portfolio-hover-content i {
    margin-top: -12px; 
}

#portfolio .portfolio-caption {
    max-width: 400px;
    margin: 0 auto;
    padding: 10px;
    text-align: center;
    background-color: #fff; 
}
#portfolio .portfolio-caption h4 {
    margin: 0;
    text-transform: none; 
    font-weight: bolder;
    color: black; 
    font-size: 1.1rem;
}
#portfolio .portfolio-caption p {
    margin: 0;
    font-size: 0.85rem; 
    font-family: 'ralewayregular', 'Droid Serif', 'Helvetica Neue', Helvetica, Arial, sans-serif; 
    color: #808080;
}

#portfolio * {
    z-index: 2; 
}

/*         Abouts Section         */

#abouts {
    width: 100%;
}

#abouts .columns {
     height: 700px;

}

@media (min-width: 992px) { }

.headingSection {
    color:black; 
    padding-top:80px;
    text-align: center;
}

.text-black {
    color:black; 
}

.text-bold {
    font-weight: bold;
}

.bg-orange {
    background-color:rgb(250, 205, 50);
}

.bg-blue {
    background-color:rgba(20, 65, 115, 1);
}