html {
    scroll-behavior: smooth;
    box-sizing: border-box;
}

html,
body {
    background-color: transparent;
    font-size: 15px;
    color: #565656;
    width: 100%;
    padding: 0;
    margin-left: 0;
    margin-right: -10px;
    font-family: 'roboto', sans-serif;
    font-weight: 300;
    left: 0;
    right: 0;
}

/*==========================================
PRE LOADER
==========================================*/
.preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fefefe;
    z-index: 99999;
    height: 100%;
    width: 100%;
    overflow: hidden !important;
}

.loaded {
    width: 200px;
    height: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    background-image: url(../images/logo_BEST.png);
    background-repeat: no-repeat;
    background-position: center center;
    -moz-background-size: cover;
    background-size: cover;
}



img {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    user-drag: none;
}

a,
a:hover,
a:active,
a:focus {
    text-decoration: none;
    outline: none;
}

a,
button,
a span {
    -webkit-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
}



*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

p {
    margin: 0 0 15px;
}

img {
    max-width: 100%;
}

h1,
h2,
h3 {
    font-weight: 300;
    margin: 0;
}

h4,
h5 {
    font-weight: 300;
    margin: 0;
    line-height: 2rem;
}

h5 {
    padding: 0px;
}

h1 {
    font-size: 3rem;
    line-height: 4rem;
    font-weight: 300;
}

h2 {
    font-size: 2.5rem;
    line-height: 3rem;
    margin-bottom: .9rem;
}

h3 {
    font-weight: 300;
    margin-bottom: .9rem;
    font-size: 2.1rem;
    line-height: 2.5rem;
}

h4 {
    font-size: 1.6rem;
    line-height: 2.2rem;
    margin-bottom: 1.1rem;
}

h5 {
    font-size: 1.3rem;
    margin-bottom: 1rem;
}

h6 {
    font-size: 1rem;
    margin-bottom: .9rem;
}

p {
    line-height: 1.5rem;
    font-size: 1.1rem;
}

p:last-child {
    margin-bottom: 0px;
}

.text {
    color: #333333;
}

.text-center {
    text-align: center !important;
}

.text-black {
    color:black; 
}

.text-white {
    color:white; 
}

.text-bold {
    font-weight: bold;
}

.bg-orange {
    background-color:rgb(250, 205, 50);
}

.bg-blue {
    background-color:rgba(20, 65, 115, 1);
}

/*
Separator
*/

.separator1 {
    height: 1px;
    width: 80%;
    margin: 30px auto;
    background: #8d8d99;
}

h1 span {
    color: #f56363;
    font-weight: 400;
}

nav {
    box-shadow: 0 6px 6px rgba(0, 0, 0, .55);
    -webkit-box-shadow: 0 6px 6px rgba(0, 0, 0, .55);
}

.navbar-default {
    background-color: black;
    border: 0 solid black;
}

.navbar-default .navbar-header {
    height: 70px;
}

.navbar-default .navbar-header img {
    height: 100%;
    width: auto;
    padding: 7px 15px;
}

.navbar-default .navbar-toggle {
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;   
}

.navbar-default .navbar-nav > li > a {
    font-family: 'ralewaysemibold';
    text-transform: uppercase;
    font-size: 0.875rem;
    color: white;
    padding-top: 25px;
    padding-bottom: 25px;
}

.navbar-default .navbar-nav > li > a:hover {
    color: rgb(250, 205, 50);
}

.navbar-default .navbar-nav > li > a:focus {
    color: rgb(250, 205, 50);
}

.navbar-default .navbar-collapse.in {
    overflow-y: visible !important;
}

@media(max-width:767px) {
    .navbar-default .navbar-nav > li > a {
        padding-top: 10px;
        padding-bottom: 10px;
    }

}

/* Home Section */
header {
    margin: 0;
    padding: 0;
    background: transparent;
    background-image: url(../images/homebg.jpg);
    background-size: cover;
    position: relative;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;
    width: 100%;
}

header .row {
    padding-top: 320px;
    padding-bottom: 250px;
}

header .slider {
    background-color:rgba(0, 0, 0, 0.75); 
    text-align: center;
    width:75%; 

    padding:50px; 
    padding-bottom: 90px;
    margin:auto; 
}

header .slider img {
    width:35%; 
    margin-bottom: 55px;
}

header .slider h3 {
    color: #fff;
    font-size: 3rem;
    font-family: 'sanchezregular';
    margin-bottom: 40px;
}

header .slider p {
    font-size: 2.5rem;
    color: #fff;
    font-family: 'ralewaylight';
    line-height: 1;
}

@media (max-width: 768px) {
    header .row {
        padding-top: 220px;
        padding-bottom: 150px;
    }

    header .slider {
        width:90%; 

        padding:50px;
        padding-bottom: 75px; 
    }

    header .slider img {
        width:100%; 
        margin-bottom: 30px;
    }

    header .slider h3 {
        margin-bottom: 30px;
    }
}

/*our features section*/
#equipas {
    padding: 90px 0px 100px 0px;
    background-color: #fdfdff;
    margin-top: -130px;
}


#equipas .heading {
    margin-bottom: 80px;
    text-align: center;

}

#equipas .heading h2 {
    font-family: 'ralewaybold';
    font-size: 3rem;
    color: black;
}

#equipas .heading p {
    font-family: 'ralewaylight';
    font-size: 1.5rem;
    color: rgba(20, 65, 115, 1);
}

#equipas .body {
    margin:auto;
    text-align: center;
}

#equipas .body .image {
    margin-left: 5px;
}

#equipas .body h3 {
    font-weight: bolder;
    color: black;
    font-size: 1.1rem;
}

#equipas .body p {
    font-size: 0.85rem;
    font-family: 'ralewayregular';;
    color: #808080;
}

#equipas .body .separator {
    height: 3px;
    width: 70px;
    margin: 30px auto;
    background: #8d8d99;
}

#teams {
    padding: 90px 0px 100px 0px;
    background-color: #fdfdff;
}

#teams .heading {
    margin-bottom: 80px;
    text-align: center;
}


#teams .heading h2 {
    font-family: 'ralewaybold';
    font-size: 3rem;
    color: black;
}

#teams .heading p {
    font-family: 'ralewaylight';
    font-size: 1.5rem;
    color: rgba(20, 65, 115, 1);
}

#teams .body .image {
    margin-left: 5px;
    width: 250px; 
    height: 170px; 
    margin-left:auto; 
    margin-right:auto;
}

#teams .body h3 {
    font-weight: bolder;
    color: black;
    font-size: 1.1rem;
    margin-top: -40px
}

#teams .body p {
    font-size: 1.0rem;
    font-family: 'ralewayregular';
    color: #808080;
    text-align: center;
}


/*clients section*/

#clients {
    background: #fff;
    overflow: hidden;
    margin-top: 0px;
}

#clients .row {
    padding: 80px 0px;
}

#clients .heading {
    margin: auto;
    text-align: center;
}

#clients .heading h2 {
    font-size: 2.25rem;
    font-family: 'ralewaybold';
}

#clients .heading p {
    font-size: 0.875rem;
    font-family: 'ralewaylight';
    max-width: 70%;
}

#clients .partners { 
    margin: auto;    
}

/*footer*/

footer {
    overflow: hidden;
    padding: 30px 0px;
    background: white;
}

footer p a {
    color: rgb(250, 205, 50);
    padding: 0px 10px;
}

footer .fa {
    padding: 15px;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
}

.fa-facebook-square {
    background: white;
    color: black;
}

.fa-flickr {
    background: white;
    color: black;
}

.fa-linkedin-square {
    background: white;
    color: black;
}

.fa-instagram {
    background: white;
    color: black;
}

*, *:before, *:after {
    box-sizing: inherit;
}

.texto {
    color: black;
    display: table-cell;
    float: left;
    width: 400px;
    text-align: justify;
    font-size: 14px;
}

/*
MANAGEMENT
*/

#portfolio {
    padding: 90px 0px 100px 0px;
    background-color: #fdfdff;
}

#portfolio .header h2 {
    font-family: 'ralewaybold'; 
    font-size: 3rem; 
    color: black; 
    margin-top: -0px;
    text-align: center;
}

#portfolio .header-2 h2 {
    font-family: 'ralewaybold'; 
    font-size: 2.5rem; 
    color: black;
    text-align: center;
    font-weight: bold;
}

#portfolio .body {
    margin-top: 0px;
}

#portfolio .body img {
    max-width: 150px;
    min-width: 150px;
    max-height: 150px;
    min-height: 150px;
    border-radius: 50%;
}

#portfolio .portfolio-link {
    position: center;
    display: block;
    max-width: 150px;
    margin: auto;
    /*cursor: pointer; */
}
#portfolio .portfolio-link .portfolio-hover {
    position: absolute;
    -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
    transition: all ease 0.5s;
    opacity: 0;
    background: rgb(0, 119, 181);
    max-width: 150px;
    min-width: 150px;
    max-height: 150px;
    min-height: 150px;
    border-radius: 50%;
}
#portfolio .portfolio-link .portfolio-hover:hover {
    opacity: 0.7; 
}
#portfolio .portfolio-link .portfolio-hover .portfolio-hover-content {
    font-size: 6em;
    text-align: center;
    margin-top: 30px;
    color: white;
    max-width: 150px;
    min-width: 150px;
    max-height: 150px;
    min-height: 150px;
    border-radius: 50%;
}
#portfolio .portfolio-link .portfolio-hover .portfolio-hover-content i {
    margin-top: -12px; 
    font-size: 1em;
}

#portfolio .subtitle {
    max-width: 400px;
    margin: 0 auto;
    padding: 10px;
    text-align: center;
    background-color: #fff; 
}
#portfolio .subtitle h4 {
    margin: 0;
    text-transform: none; 
    font-weight: bolder;
    color: black; 
    font-size: 1.1rem;
}
#portfolio .subtitle p {
    margin: 0;
    font-size: 0.85rem; 
    font-family: 'ralewayregular', 'Droid Serif', 'Helvetica Neue', Helvetica, Arial, sans-serif; 
    color: #808080;
}

#portfolio * {
    z-index: 2; 
}

/*         Abouts Section         */

#abouts {
    width: 100%;
}

#abouts .col-sm-6 {
     height: 700px;

}

#abouts .col-sm-6 img {
    width: 240px; 
    margin-top: 15%;
}

#abouts .col-sm-6 p {
    width:50%; 
    margin:auto;
    text-align: justify;
}

@media (min-width: 768px) and (max-width: 991px) {
    #abouts .col-sm-6 p {
        width: 70%; 
        margin:auto;
        text-align: justify;
    }
}

@media (min-width: 571px) and (max-width: 767px) {
    #abouts .col-sm-6 {
        height: 600px;
   
   }
    #abouts .col-sm-6 p {
        width: 90%; 
    }
}

@media (max-width: 570px) {
    #abouts .col-sm-6 {
        height: 550px;
   
    }
    #abouts .col-sm-6 p {
        width: 100%;
    }
}

#abouts .btn {
    display: inline-block;
    min-width: 160px;
    padding: .9em;
    height: 57px;
    text-align: center;
    font-style: normal;
    letter-spacing: 1px;
    margin: 0;
    font-size: 18px;
    font-weight: 300;
    border-radius: 0;
    margin-top: 30px;
    border-style: solid;
    border-width: 1px;
}

#abouts .btn:hover {
    text-decoration: none;
}

#abouts .btn:focus,
#abouts .btn:active {
    outline: inherit;
}


#abouts .btn-white {
    border-color:#fff;
    color: #fff;
}

#abouts .btn-white:hover {
    background-color: white;
    color: black;
    border-color:#fff;
}

#abouts .btn-black {
     border-color: black;
     color: black;
 }

#abouts .btn-black:hover {
    background-color: rgb(53,53,53);
    color: #ffe13e;
    border-color:black;
}

#contactos .fa {
    padding: 0;
    margin: 0;
    color: black;
}


#contactos .header h2 {
    color:black; 
    padding-top:80px;
    text-align: center;
    font-weight: bold;
}

#contactos .body {
    margin-top:35px; 
    margin-bottom:75px;
}

#contactos .text-body {
    text-align: center;
    color: black;
}

@media (max-width: 992px) {
    #contactos .text-body {
        margin-top: 35px;
    }
}

#contactos .text-body h5 {
    font-weight: bold;
}